@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

body, ul, li, h1 {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-family: 'Roboto', 'Noto Sans KR', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.img-box > img {
    width: 100%;
    display: block;
}

:root {
    --site-width: 800px;
}

.con {
    width: var(--site-width);
}

.height-100p {
    height: 100%;
}

.margin-top-30 {
    margin-top: 30px;
}

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.text-align-c {
    text-align: center;
}


/* form */
.form1 .form-control > input,
.form1 .form-control > select {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
}

/* option */
.option {
    padding: 8px 10px;
    font-size: 1rem;
}

/* table */
.table-box > table {
    width: 100%;
    border-collapse: collapse;
}

.table-box > table td, .table-box > table th {
    border: 1px solid black;
    padding: 10px;
}

/* button */
.btn {
    padding: 6px 10px;
    display: inline-flex;
    font-weight: bold;
    outline: 0;
    border: 0;
    cursor: pointer;
    background: #3D94F6;
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
    color: #fff;
    box-shadow: 1px 1px 5px 0px #000;
    text-shadow: 1px 1px 20px #000;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
}

.btn:hover {
    background: #1E62D0;
    background-image: linear-gradient(to bottom, #1E62D0, #3D94F6);
}

.btn-primary {
    background: green;
    margin: 0 6px;
}

.btn-delete {
    background: red;
}

.btn-info {
    margin-left: 6px;
}

.table-box .listBtn {
    border-radius: 0;
    padding: 2px 4px;
    margin-right: 2px;
}

